.Media {
  padding-top: 10rem;
  margin-left: 9rem;
  position: relative;

  &-wrapper {
    width: 87.8%;
    margin-left: auto;
    margin-right: auto;
    max-width: 112rem;
    padding-bottom: 10.298rem;

    &-image {
      position: relative;
      overflow: hidden;
      height: 63rem;

      img {
        position: absolute;
        width: 100%;
        z-index: 2;
      }
    }
    h2{
      position: absolute;
    }
  }

  &-background {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}