.Menu {
  display: none;

  &.is-active {
    display: block;
  }

  &-navigationWrapper {
    background-color: $color-medium-blue;
    padding: 5.9rem 6rem 6.1rem 9rem;

    &-navigation {
      margin-top: 8.5rem;
      padding-left: 1.7rem;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      &-firstLevel {
        display: flex;
        justify-content: space-between;
      }
    }

    li {
      &.item-top {
        color: $color-light-purple;
        font-family: "Museo 900", serif;
        font-size: 2.5rem;
        line-height: 6rem;
      }

      &.item-below {
        font-family: "Museo Sans 700", serif;
        font-size: 2rem;
        line-height: 2.4rem;
        color: white;
        margin-top: 3rem;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
    &-socials {
      color: white;
      font-size: 3.4rem;
      line-height: 4.1rem;
      i {
        margin-right: 3.8rem;
      }
    }
  }

}