@import "variable";
@import "fontVariations";
@import "components";
@import "mixins";
html {
  font-size: 62.5%;
  width: 100%;
  body {
    margin: 0;
  }
  .page-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
}