.Header {
  display: flex;

  &-toolbar {
    position: fixed;
    background-color: white;
    height: 768px;
    display: flex;
    flex-direction: column;
    width: 8.9rem;
    align-items: center;
    @include tablet {
      flex-direction: row;
      width: 100%;
      height: 8.9rem;
      z-index: 100;
    }

    &-logo, &-hamburger {
      background-color: $color-primary;
      width: 100%;
      text-align: center;
      height: 8.9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        height: 100%;
        width: 8.9rem;
      }
    }

    &-hamburger {
      margin-top: 0.2rem;
      @include tablet {
        margin-top: 0;
        margin-left: 0.2rem;
      }

      i {
        color: white;
        width: 100%;
        font-size: 3rem;
        line-height: 3.6rem;
      }
    }

    &-menu {
      height: 100%;
      justify-content: space-evenly;

      color: $color-primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: 100%;
        height: 100%;
        flex-direction: row;
      }

      i {
        font-size: 2.5rem;
        line-height: 3rem;
      }

      hr {
        width: 2.4rem;
        border-top: 2px solid $color-primary;
        @include tablet {
          border-left: 2px solid $color-primary;
          border-top: none;
          height: 2.4rem;
          width: 2px;
          margin: 0;

        }
      }

      span {
        font-family: "Museo 900", serif;
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }
  }

  &-content {
    margin-left: 8.9rem;
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    @include tablet {
      margin: 8.9rem 0 0 0;
      height: calc(100vh - 8.9rem);
      @include mobile {
        flex-direction: column;
        overflow: hidden;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      width: 50%;
      background-color: $color-primary;
      color: white;
      @include mobile {
        width: 100%;
      }

      &-textWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        margin-left: 7.5rem;
        position: absolute;
        z-index: 5;
        @include tablet {
          margin-left: 4rem;
          @include mobile {
            position: relative;
            padding-bottom: 5rem;
            padding-top: 3rem;
          }
        }

        .btn-tag {
          background-color: white;
          font-size: 1.8rem;
          line-height: 2.1rem;
          font-style: italic;
          padding: 0.3rem 0.8rem;
          border-radius: 0.5rem;
          text-decoration: none;
          color: $color-primary;
          font-family: "Museo Sans Rounded 500", serif;
          width: fit-content;
        }

        h1 {
          font-family: "Museo 900", serif;
          font-size: 8rem;
          line-height: 9rem;
          text-transform: uppercase;
          margin: 0;
          @include tablet {
            font-size: 6rem;
            line-height: 7rem;
            @include mobile {
              font-size: 4rem;
              line-height: 5rem;
            }
          }
        }

        .date {
          font-size: 2rem;
          line-height: 2.4rem;
          font-family: "Museo Sans 500", serif;

          i {
            padding: 0.8rem;
            background-color: #BAABEB;
            border-radius: 50%;
            font-size: 2.5rem;
            margin-right: 0.5rem;
          }
        }

        &-buttonWrapper {
          display: flex;
          & > * {
            width: fit-content;
          }
          .btn-buy {
            text-decoration: none;
            color: inherit;
            border: 1px solid white;
            padding: 1.95rem 3.2rem 1.65rem 2.8rem;
            font-family: "Museo Sans 500", sans-serif;
            font-size: 2rem;
            line-height: 2.4rem;
            display: block;
            width: fit-content;
            @include tablet {
              font-size: 1.7rem;
            }
          }
          &-museumSupportButton {
            display: none;

            @include mobile {
              display: flex;
              width: fit-content;
              padding: 0 1.8rem;
              margin-left: 1rem;
            }
          }
        }
        &-shareWrapper {
          @include mobile {
            display: none;
          }
        }
      }
      &-shareWrapper {
        display:none;
        @include mobile {
          display: flex;
          width: calc(50% - 6rem);
        }
      }
    }

    &-right {
      width: 50%;
      position: relative;
      overflow: hidden;
      @include mobile {
        width: 100%;
        position: unset;
        overflow: unset;
      }

      &-image {
        & > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          min-height: 100%;

          @include tablet {
            top: calc(50% + 8.9rem);
            left: calc(50% + 8.9rem);
          }
          @include mobile {
            top: 0;
            left:0;
            transform: translateX(-15%);
          }
        }
      }

      figcaption {
        background-color: rgba(255,255,255,0.6);
        height: 6.8rem;
        width: 95%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        color: $color-primary;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-family: "Museo Sans 500", serif;
        padding: 1.4rem 2rem;
        @include mobile {
          bottom: 6.1rem;
        }
        img {
          padding-right: 1.1rem;
        }
      }

      .btn-plain-blue {
        position: absolute;
        top: 2.8rem;
        right: 6rem;
        z-index: 10;
        @include mobile {
          display: none;
        }
      }
    }
  }
}