.Content {
  display:flex;
  margin-left: 8.9rem;

  @include tablet {
    margin-left: 0;
    @include mobile {
      flex-direction: column;
    }
  }
  &-left {
    color: white;
    padding-top:5.6rem;
    text-align: left;
    width: 50%;
    background-color: $color-primary;
    @include mobile {
      width: 100%;
      padding-top: 4rem;
    }
    & > * {
      padding-left:7.5rem;
      padding-right: 8.5rem;
      @include tablet {
        padding-left:3rem;
        padding-right: 3rem;
      }
    }

    &-pricing {
      h2 {
        margin-top:0;
        font-size: 4rem;
        line-height: 4.8rem;
        font-family: "Museo 700", serif;
        @include mobile {
          font-size: 3rem;
          line-height: 3.8rem;
        }
      }
      i {
        font-size:2.5rem;
        line-height:3.2rem ;
        margin-right:1rem;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          font-family: "Museo Sans 300", serif;
          font-size: 2.5rem;
          line-height: 3.4rem;
          @include mobile {
            font-size: 2rem;
            line-height: 2.9rem;
          }
          strong {
            font-family: "Museo Sans 700", serif;
          }
        }
      }
      span {
        color:$color-gray;
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-family: "Museo Sans 500", serif;
        @include mobile {
          font-size: 1.4rem;
          line-height: 1.5rem;
        }
      }
      .simpleLink {
        font-size: 2rem;
        line-height: 2.4rem;
        border-bottom: 2px solid white;
        display: block;
        text-decoration: none;
        color:inherit;
        margin-top: 3rem;
        width: fit-content;
        font-family: "Museo Sans 700",serif;
        @include tablet {
          font-size: 1.9rem;
        }
        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
    &-about {
      h2 {
        font-size:4rem;
        line-height: 6rem;
        font-family: "Museo 900", serif;
        @include tablet {
          font-size: 3rem;
          line-height: 4rem;
        }
        @include mobile {
          font-size: 2.7rem;
          line-height: 3.7rem;
        }
      }
      font-family:"Museo Sans 300", serif ;
      font-size:2rem;
      line-height: 3.2rem;
      @include tablet {
        font-size: 1.8rem;
        line-height: 3rem;
      }
      @include mobile {
        font-size: 1.5rem;
        line-height: 2.7rem;
      }
      strong {
        font-weight: 900;
      }
      &-chapo {
        color:$color-light-purple;
        font-family: "Museo Sans 700", serif;
      }
      .seeMore {
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        font-family: "Museo Sans 700", serif;
        font-size: 2rem;
        line-height: 2.4rem;
        @include mobile {
          font-size: 1.5rem;
          line-height: 1.9rem;
        }
        &:after {
          content:'\f107';
          margin-left: 1rem;
          font-family: "Font Awesome 5 Pro";
          font-size: 1.5rem;
          line-height: 1.8rem;
          vertical-align: middle;
        }
      }
      padding-bottom: 10.6rem;
      @include tablet {
        padding-bottom: 7rem;
      }
    }
  }
  &-right {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top:5.6rem;
    width: 50%;
    align-items: center;
    padding-bottom: 11.5rem;
    @include mobile {
      width: 100%;
      padding-bottom: 5rem;
    }
    figure {
      display:table;
      margin-bottom: 10rem;
      @include mobile {
        margin-bottom: 5rem;
      }
      figcaption {
        display: table-caption;
        caption-side: bottom;
        font-family: "Museo Sans 500", serif;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-firstPicture {
      figcaption {
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: $color-gray;
      }
    }
    &-secondPicture {
      figcaption {
        font-size: 1.1rem;
        line-height: 1.3rem;
        color: $color-gray;
      }
    }
    .link-button {
      font-size: 2rem;
      line-height: 2.4rem;
      padding: 1.8rem 2.5rem;
      border: 2px solid $color-primary;
      display:block;
      color: $color-primary;
      text-decoration: none;
      font-family: "Museo Sans 500", serif;

      @include tablet {
        font-size: 1.5rem;
      }
    }
  }
}